@model Deck

@{
    string title = ViewBag.Action + " Deck";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="DeckName">Name</label>
        <input asp-for="DeckName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="DeckCount">Count</label>
        <input asp-for="DeckCount" class="form-control">
    </div>

    <input type="hidden" asp-for="DeckID" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
